body {
  background-image: -webkit-linear-gradient(
    40deg,
    hsl(270, 50%, 30%),
    hsl(120, 50%, 30%)
    );
  height: 100vh;
 }
image {
  width: 100px;
}
.img {
  width: 100%;
}
.card-text {
  border:0.5px solid;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: rgba(173, 216, 230, 0.3); /* light blue with 30% opacity */

}
.card {
  border: 2px solid;
  padding: 5px;
  margin-top: 2em;
}

h3 {
  /* border: 2px solid red; */
  text-align:center;
}